* {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background: rgb(30, 64, 175);
  color: #fff;
  padding: 10px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
  }
}

.topNav {
  display: flex;
  padding: 20px 0;
}

.mainBox {
  display: flex;
  gap: 20px;
}